# Environments & Virtual Environments
venv/
.env
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
*.zip

# Static & Media
media/
staticfiles/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Node
node_modules/
build/
